:root{ 
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url(images/bg-desktop.svg);
    background-color: var(--Violet);
}

h2{ 
    font-family: 'Poppins', sans-serif;
}

a{ 
    color: white;
    text-decoration: none;
}
.wrapper{ 
    max-width: 85%;
    margin: 2.5rem auto;
}

main{ 
   display: grid;
   grid-template-columns: repeat(2,1fr );
   grid-gap: 3rem;
   margin: 4.5rem 0 0rem 0;
}

.images img{ 
    max-width: 100%;
}

main .content h2 { 
    font-size: 2.7rem;
    margin: 1rem 0;
}

main p { 
    line-height: 1.8;
    margin-bottom: 1rem;
}

main .btn{ 
    display: inline-block;
    background-color: white;
    color: var(--Violet);
    padding: 1rem 3rem;
    border-radius: 100vw;
    font-size: 1.2em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    transition: background 250ms;
}

.btn:hover{ 
    background-color: var(--Soft-Magenta);
    color: white;
}

footer{ 
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    margin-top: 1rem;
}

footer a{ 
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: color 250ms;
}

footer a:hover{ 
    color: hsl(325, 100%, 71%);
}

footer a:not(:last-child){ 
    margin-right: 1rem;
}

@media(max-width:1200px){ 
    .images{ 
        align-self: center;
    }
}

@media(max-width:960px){ 
    main{ 
        grid-template-columns: 1fr;
        text-align: center;
    }
    footer{ 
        justify-content: center;
        margin-top: 3rem;
    }
}